$weuiBtnDefaultGap:.3rem;
$weuiBtnHeight:.6rem;
$weuiBtnMiniHeight:1.9;
$weuiBtnFontSize:.28rem;
$weuiBtnFontColor:#FFFFFF;
$weuiBtnDisabledFontColor:rgba(255,255,255,.6);
$weuiBtnActiveFontColor:rgba(255,255,255,.4);
$weuiBtnMiniFontSize:.28rem;
$weuiBtnBorderRadius:.1rem;

$weuiBtnDefaultBg:#F7F7F7;
$weuiBtnDefaultActiveBg:#DEDEDE;
$weuiBtnDefaultFontColor:#454545;
$weuiBtnDefaultDisabledFontColor:#C9C9C9;
$weuiBtnDefaultActiveFontColor:#A1A1A1;

$weuiBtnPrimaryBg:#04be02;
$weuiBtnPrimaryActiveBg:#039702;

$weuiBtnWarnBg:#fd5d5d;
$weuiBtnWarnActiveBg:#ee4f4f;