$weuiCellBg:#FFFFFF;
$weuiCellBorderColor:#e5e5e5;
$weuiCellGapV:.2rem;
$weuiCellGapH:.3rem;
$weuiCellInnerGapH:.35em;
$weuiCellLabelWidth:2.1rem;


$weuiCellHeight: .86rem;
$weuiCellFontSize:.28rem;
$weuiCellTipsFontSize:.28rem;

$weuiCellLineHeight: ($weuiCellHeight - 2 * $weuiCellGapV) / $weuiCellFontSize; // 高度为44px，减去上下padding的行高
$weuiCellsMarginTop: 0;